<div class="toppage-contents">

  <div class="top-wrapper">
    <div class="container">
      <h1>いますぐ！読書感想文</h1>
      <p>いますぐ！感想文は質問に答えるだけで簡単に読書感想文が制作できるサイトです。</p>
      <a href="/create">
        <div class="start-btn">
          さっそく作ってみよう
          <i class="fas fa-hand-point-up"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="howto-wrapper">
    <div class="container">
        <div class="howto left">
          <p>質問に答えて…</p>
          <img src="/site-image/exp111.png" width="380" height="380">
        </div>
        <div class="cursor_img">
          <i class="fas fa-arrow-right"></i>
        </div>
        <div class="howto right">
          <p>読書感想文が完成！</p>
          <img src="/site-image/exp2.png" width="380" height="380">
          <p>文章のダウンロードやTwitterへの共有も <i class="far fa-comment"></i></p>
        </div>
        <div class="clear"></div>
    </div>
  </div>

  <div class="bottom-wrapper">
    <div class="container">
      <p>あなたの夏休み・冬休みの課題をサクッと完成させませんか？</p>
      <a href="/create">
        <div class="start-btn">
          さっそく作ってみる！
        </div>
      </a>
    </div>
  </div>

</div>
