<div class="top-wrapper">
  <div class="container">
    <h1>いますぐ！読書感想文!!!!keita</h1>
    <p>いますぐ！感想文は質問に答えるだけで簡単に読書感想文が制作できるサイトです。</p>
    <input type="submit" value="さっそく作ってみよう！">
  </div>

</div>
<div class="howto-wrapper">
  <div class="container">
    <div class="howto-left">
      <p>質問に答えて…</p>
      <img src="" alt="">
    </div>

  </div>
</div>
