// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  padding: 0 5%;
  text-align: center;
  font-family: Helvetica;
}

.home{
  width: 20px;
  height: 20px;
}

.top-wrapper{
  width:auto;
  padding:150px 0 150px 0;
}

.start-btn{
  font-size:18px;
  margin:10px;
  color:white;
  padding:15px 70px;
  display:inline-block;
  background-color:#EF985D ;
  opacity:0.9;
  border-radius:8px;
  box-shadow: 0px 5px darken(#EF985D,20%) ;
  &:hover{
    opacity:1;
  }
  &:active{
    position: relative;
    top:5px;
    box-shadow:none;
  }
}

.howto-wrapper{
  background-color: rgba(#FFE9D9,80%);
  padding:30px 0 30px 0;
  .cursor_img {
    width: 10%;
    float: left;
    img {
      width: 60px;
      height: 50px;
      margin-top: 200px;
    }
  }
  .howto{
    float:left;
    width:45%;
  }
}

.clear {
  clear: left;
}

.bottom-wrapper{
  padding:50px 0 50px 0;
}

.q-and-a{
  padding-top:30px;
  padding-bottom: 50px;
  .qa{
    float:left;
  }
  .q{
    width:30%;
    p{
      font-size: 18px;
      color:darken(gray,20%);
    }
  }
  .a{
    width: 70%;
    padding-bottom:2%;
    textarea{
      line-height: 19px;
      font-size: 18px;
    }
  }
}

.text_box{
  padding:15px 0;
}

.box{
  width:600px; height:500px;
  margin:5px; padding:25px; border:1px solid black;
  margin:0 auto;
  text-align: left;
}

.buttom-btn{
  padding: 0 13%;
  .btn{
    float: left;
    width:33%;
  }
}
